.gridItem {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.gridItemContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}